<mat-card>
  <mat-card-title style="text-align: center">Registration</mat-card-title>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <!-- user name -->
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName" />
      <mat-icon matSuffix>person_legacy</mat-icon>
      <mat-error
        *ngIf="profileForm.get('userName')?.hasError('usernameAlreadyExists')"
      >
        Username already <strong>exists</strong>
      </mat-error>
      <mat-error *ngIf="userName?.hasError('required')"> required </mat-error>
    </mat-form-field>
    <!-- email -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-error
        *ngIf="profileForm.get('email')?.hasError('emailAlreadyExists')"
      >
        Email address already taken
      </mat-error>
      <mat-error *ngIf="email?.hasError('required')"> required </mat-error>
      <mat-error *ngIf="email?.hasError('email')" class="has-text-danger">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <!-- password -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <mat-icon matSuffix>security</mat-icon>
      <input matInput type="password" formControlName="password" />
      <mat-error
        *ngIf="profileForm.get('password')?.hasError('required')"
        class="has-text-danger"
      >
        required
      </mat-error>
      <mat-error
        *ngIf="profileForm.get('password')?.hasError('pattern')"
        class="has-text-danger"
      >
        Password is invalid
        <mat-hint align="end"
          >Minimum 6 character(1 letter, 1 number, 1 special
          character]</mat-hint
        >
      </mat-error>
    </mat-form-field>
    <!-- confirm password -->
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <mat-icon matSuffix>security</mat-icon>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error
        *ngIf="confirmPassword?.hasError('required')"
        class="has-text-danger"
      >
        Confirm your <strong>password</strong>
      </mat-error>
      <mat-error
        *ngIf="confirmPassword?.hasError('misMatch')"
        class="has-text-danger"
      >
        Password do not match
      </mat-error>
    </mat-form-field>
    <!-- date of birth -->
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="dob" formControlName="dateOfBirth" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
      <mat-datepicker #dob>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
      <mat-error *ngIf="dateOfBirth?.hasError('required')">
        required
      </mat-error>
      <mat-error
        *ngIf="profileForm.get('dateOfBirth')?.hasError('younger')"
        class="has-text-danger"
      >
        Age must be above 18
      </mat-error>
    </mat-form-field>
    <br />
    <button class="raised-button" style="color: white" mat-raised-button>
      Register
    </button>
  </form>
</mat-card>
