<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<div class="container">
  <div class="content container-fluid bootstrap snippets bootdey">
    <div class="row row-broken">
      <div class="col-sm-3 col-xs-12">
        <div
          class="col-inside-lg decor-default chat"
          style="overflow: hidden; outline: none"
          tabindex="5000"
        >
          <div class="chat-users">
            <h6>Online</h6>
            <div *ngFor="let user of users">
              <div class="user">
                <div class="avatar">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    alt="User name"
                  />
                  <div class="status off"></div>
                </div>
                <div>
                  <div class="name">
                    <button
                      style="border: none; border-radius: 5px"
                      (click)="onClick(user)"
                    >
                      {{ user.name }}
                    </button>
                  </div>
                  <!-- <div class="mood">online</div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-9 col-xs-12 chat"
        style="overflow: hidden; outline: none"
        tabindex="5001"
      >
        <div *ngIf="userClicked">
          <app-chatbox [member]="user" [messages]="messages"></app-chatbox>
        </div>
      </div>
    </div>
  </div>
</div>
