<nav
  class="navbar navbar-light navbar-expand-lg"
  style="background-color: #a8d8fa"
>
  <div class="container">
    <a routerLink="/" class="navbar-brand" routerLinkActive="active"
      >ChitChat</a
    >
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="example-spacer"></span>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!isAuthenticated()">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link" routerLinkActive="active">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="nav-link"> Register </a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()">
          <li class="nav-item">
            <a routerLink="/profile" class="nav-link"> {{userName}} </a>
          </li>
          <li class="nav-item">
            <a routerLink="/users" class="nav-link"> Users </a>
          </li>
          <li class="nav-item">
            <a routerLink="/chat" class="nav-link"> Chat </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pointer" (click)="logOut()"> Logout </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>

<!-- <mat-toolbar>
  <a routerLink="/">
    <button mat-raised-button color="warn">
      <mat-icon>people</mat-icon>
      <span>ChitChat</span>
    </button>
  </a>
  <span class="example-spacer"></span>

  <a routerLink="/users"
    ><button style="margin: 1px" mat-raised-button color="warn">Users</button>
  </a>
  <a routerLink="/register">
    <button style="margin: 10px" mat-raised-button color="warn">
      Register
    </button>
  </a>
  <a routerLink="/login"
    ><button style="margin: 10px" mat-raised-button color="warn">Login</button>
  </a>
  <div *ngIf="isAuthenticated()">
    <a routerLink="/login">
      <button mat-raised-button color="warn" (click)="logOut()">LogOut</button>
    </a>
  </div>
</mat-toolbar> -->
