.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #223542;
}
.mat-icon-button {
  size: 10ch;
}

.mat-raised-button {
  /* background-color: rgb(219, 71, 3); */
  background-color: rgb(48, 167, 197);
  color: white;
}

.pointer {
  cursor: pointer;
}
